$prefix: "../../../assets/";
$bg__comingsoon-img: $prefix+"img/coming.jpg";
$bg__contact-img: 
    $prefix+"img/contact/contact-s1.jpg",
    $prefix+"img/contact/contact-s2.jpg",
    $prefix+"img/contact/contact-s3.jpg";
$bg__error-img: $prefix+"img/error.jpg";
$bg__index-img: $prefix+"img/index/index-s1.jpg";
$bg__music-img: 
    $prefix+"img/music/music-s1.jpg",
    $prefix+"img/music/music-s2.jpg",
    $prefix+"img/music/music-s3.jpg";
$bg__playlist-img: $prefix+"img/playlist/playlist-s1.jpg";
$bg__privacy-img: $prefix+"img/privacy.jpg";
$bg__radio-img: 
    $prefix+"img/radio/radio-s1.jpg",
    $prefix+"img/radio/radio-s2.jpg";
$bg__user-img: $prefix+"img/user/user-s1.jpg";
$bg__init:
    "comingsoon",
    "contact",
    "error",
    "index",
    "music",
    "playlist",
    "privacy",
    "radio",
    "user";
$classes_init:
    $bg__comingsoon-img,
    $bg__contact-img,
    $bg__error-img,
    $bg__index-img,
    $bg__music-img,
    $bg__playlist-img,
    $bg__privacy-img,
    $bg__radio-img,
    $bg__user-img;
$footer-height: 41px;
$text__shadow: 1px 1px 3px #333;